name: remote_control
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.2.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  ir_sensor_plugin: ^0.3.0
  lottie: ^3.0.0
  objectbox: ^2.4.0
  shared_preferences: ^2.2.2
  vibration: ^1.8.4

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
  fonts:
    - family: PulpDisplay
      fonts:
        - asset: fonts/PulpDisplay-Regular.ttf
